:root {
    --background-color: #ffffff;
    --color: #000000;
    --secondary-background: #e8e8e8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #101010;
        --color: #ffffff;
        --secondary-background: #242424;
    }
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
}

header, main, footer {
    width: 60%;
    margin: 0.7rem auto;
    border-radius: 10px;
}
header > * {
    border-radius: 10px;
}
main, footer {
    background-color: var(--secondary-background);
}

.cover-image {
    width: 100%;
    height: 16rem;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: 0 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px #000;
}

.navbar {
    margin-top: 0.6rem;
    background-color: var(--secondary-background);
    padding: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar > a {
    position: relative;
    cursor: pointer;
}
.navbar > a::before {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--color);
    transition: width 0.2s ease;
}
.navbar > a:hover::before {
    width: 100%;
}

main > section, footer > div {
    padding: 0.7rem;
}

main > section > article {
    margin-bottom: 0.7rem;
}

main > section > article > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

main > section > article > p {
    font-weight: 200;
}
main > section > article > div > div {
    position: relative;
    border-radius: 7px;
    background-color: #2ecc71;
    width: fit-content;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    color: var(--secondary-background);
    transition: color 0.2s ease, background-color 0.2s ease;
}
main > section > article > div > div:hover {
    color: var(--color);
    background-color: #27ae60;
}

.news-divider {
    width: 100%;
    height: 2px;
    background-color: var(--color);
}


#school-name {
    font-weight: 200;
    text-align: center;
}

#school-media {
    margin: 1rem auto 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#school-media img {
    width: auto;
    height: 50px;
}